{% extends "base.html" %}
{% block title %}cmdb{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css" />
<link rel="stylesheet" href="/static/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="/static/js/calendar/bootstrap_calendar.css" type="text/css" cache="false" />
<link rel="stylesheet" href="/static/js/datatables/datatables.css" type="text/css" cache="false">
<link rel="stylesheet" href="/static/css/font.css" type="text/css" cache="false" />
{% endblock %}
{% block menusection %}
<section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li> <a href="/"> <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i> <span>资产概览</span> </a> </li>
                  <li class="active"> <a href="#layout" class="active"> <i class="fa fa-columns icon"> <b class="bg-warning"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>salt管理</span> </a>
                    <ul class="nav lt">
                      <li> <a href="/saltadmin/"> <i class="fa fa-angle-right"></i> <span>salt远程管理</span> </a> </li>
                      <li class="active"> <a href="/salthistory/" class="active"> <i class="fa fa-angle-right"></i> <span>salt命令历史</span> </a> </li>
                      <li > <a href="layout-h.html" > <i class="fa fa-angle-right"></i> <span>salt配置概览</span> </a> </li>
                    </ul>
                  </li>
                  <li > <a href="#uikit" > <i class="fa fa-flask icon"> <b class="bg-success"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>UI kit</span> </a>
                    <ul class="nav lt">
                      <li > <a href="buttons.html" > <i class="fa fa-angle-right"></i> <span>Buttons</span> </a> </li>
                      <li > <a href="icons.html" > <b class="badge bg-info pull-right">369</b> <i class="fa fa-angle-right"></i> <span>Icons</span> </a> </li>
                      <li > <a href="grid.html" > <i class="fa fa-angle-right"></i> <span>Grid</span> </a> </li>
                      <li > <a href="widgets.html" > <b class="badge pull-right">8</b> <i class="fa fa-angle-right"></i> <span>Widgets</span> </a> </li>
                      <li > <a href="components.html" > <i class="fa fa-angle-right"></i> <span>Components</span> </a> </li>
                      <li > <a href="list.html" > <i class="fa fa-angle-right"></i> <span>List group</span> </a> </li>
                      <li > <a href="#table" > <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> <span>Table</span> </a>
                        <ul class="nav bg">
                          <li > <a href="table-static.html" > <i class="fa fa-angle-right"></i> <span>Table static</span> </a> </li>
                          <li > <a href="table-datatable.html" > <i class="fa fa-angle-right"></i> <span>Datatable</span> </a> </li>
                          <li > <a href="table-datagrid.html" > <i class="fa fa-angle-right"></i> <span>Datagrid</span> </a> </li>
                        </ul>
                      </li>
                      <li > <a href="#form" > <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> <span>Form</span> </a>
                        <ul class="nav bg">
                          <li > <a href="form-elements.html" > <i class="fa fa-angle-right"></i> <span>Form elements</span> </a> </li>
                          <li > <a href="form-validation.html" > <i class="fa fa-angle-right"></i> <span>Form validation</span> </a> </li>
                          <li > <a href="form-wizard.html" > <i class="fa fa-angle-right"></i> <span>Form wizard</span> </a> </li>
                        </ul>
                      </li>
                      <li > <a href="chart.html" > <i class="fa fa-angle-right"></i> <span>Chart</span> </a> </li>
                      <li > <a href="fullcalendar.html" > <i class="fa fa-angle-right"></i> <span>Fullcalendar</span> </a> </li>
                      <li > <a href="portlet.html" > <i class="fa fa-angle-right"></i> <span>Portlet</span> </a> </li>
                      <li > <a href="timeline.html" > <i class="fa fa-angle-right"></i> <span>Timeline</span> </a> </li>
                    </ul>
                  </li>
                  <li > <a href="#pages" > <i class="fa fa-file-text icon"> <b class="bg-primary"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>Pages</span> </a>
                    <ul class="nav lt">
                      <li > <a href="gallery.html" > <i class="fa fa-angle-right"></i> <span>Gallery</span> </a> </li>
                      <li > <a href="profile.html" > <i class="fa fa-angle-right"></i> <span>Profile</span> </a> </li>
                      <li > <a href="invoice.html" > <i class="fa fa-angle-right"></i> <span>Invoice</span> </a> </li>
                      <li > <a href="intro.html" > <i class="fa fa-angle-right"></i> <span>Intro</span> </a> </li>
                      <li > <a href="master.html" > <i class="fa fa-angle-right"></i> <span>Master</span> </a> </li>
                      <li > <a href="gmap.html" > <i class="fa fa-angle-right"></i> <span>Google Map</span> </a> </li>
                      <li > <a href="signin.html" > <i class="fa fa-angle-right"></i> <span>Signin</span> </a> </li>
                      <li > <a href="signup.html" > <i class="fa fa-angle-right"></i> <span>Signup</span> </a> </li>
                      <li > <a href="404.html" > <i class="fa fa-angle-right"></i> <span>404</span> </a> </li>
                    </ul>
                  </li>
                  <li > <a href="mail.html" > <b class="badge bg-danger pull-right">3</b> <i class="fa fa-envelope-o icon"> <b class="bg-primary dker"></b> </i> <span>Message</span> </a> </li>
                  <li > <a href="notebook.html" > <i class="fa fa-pencil icon"> <b class="bg-info"></b> </i> <span>Notes</span> </a> </li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
{% endblock %}
{% block content %}
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="active">salt 命令历史</li>
            </ul>
            <section class="panel panel-default">
              <header class="panel-heading">Salt Commmand History<i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" ></i> </header>
              <div class="table-responsive">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <th>start time</th>
                      <th>end time</th>
                      <th>submit</th>
                    </tr>
                  </thead>
                          <tbody>
                                <tr>
                                <td><input class="layui-input" placeholder="开始日期" id="LAY_demorange_s"></td>
                                <td><input class="layui-input" placeholder="截止日期" id="LAY_demorange_e"></td>
                                <td><button class="layui-btn layui-btn-normal" type="button" name="setimesubmit" id="timesubmit">submit</button></td>
                                </tr>
                          </tbody>
                </table>
                <table class="table table-striped m-b-none" id="datatables">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>执行时间</th>
                      <th>用户名</th>
                      <th>minion</th>
                      <th>minion类型</th>
                      <th>模块</th>
                      <th>参数</th>
                    </tr>
                  </thead>
                          <tbody>
                                {% for item in cmddicts %}
                                <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.createtime | date:"Y-m-d H:i:s"}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.minions}}</td>
                                <td>{{item.miniontype}}</td>
                                <td>{{item.module}}</td>
                                <td>{{item.arg}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                </tr>
                            </tfoot>
                </table>
              </div>
            </section>
              </section>
              <a href="#" class="btn btn-default btn-sm m-b"><i class="fa fa-plus icon-muted"></i> more</a> </div>
          </section>
        </section>
{% endblock %}
{% block scripts %}
<script src="/static/js/app.v2.js"></script> 
<script src="/static/layui/layui.js"></script> 
<script src="/static/js/datatables/jquery.dataTables.min.js" cache="false"></script>
<script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js" cache="false"></script> 
<script src="/static/js/charts/sparkline/jquery.sparkline.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.min.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.tooltip.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.resize.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.grow.js" cache="false"></script> 
<script src="/static/js/charts/flot/demo.js" cache="false"></script>
<script src="/static/js/calendar/bootstrap_calendar.js" cache="false"></script> 
<script src="/static/js/calendar/demo.js" cache="false"></script> 
<script src="/static/js/sortable/jquery.sortable.js" cache="false"></script>
<script>
$(document).ready(function () {
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  var start = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,istoday: false
    ,festival: true
    ,choose: function(datas){
      end.min = datas; //开始日选好后，重置结束日的最小日期
      end.start = datas //将结束日的初始值设定为开始日
    }
  };
  
  var end = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,istoday: false
    ,festival: true
    ,choose: function(datas){
      start.max = datas; //结束日选好后，重置开始日的最大日期
    }
  };
  
  document.getElementById('LAY_demorange_s').onclick = function(){
    start.elem = this;
    laydate(start);
  }
  document.getElementById('LAY_demorange_e').onclick = function(){
    end.elem = this
    laydate(end);
  }
  
});
$('#timesubmit').click(function (){
var st=$('#LAY_demorange_s').val();
var et=$('#LAY_demorange_e').val();
var index = layer.load(3);
$.ajax({
 url:'/historybytime/',
 data:{'st':st,'et':et},
 type:'POST',
 success:function(callback){
 layer.close(index); 
 obj=jQuery.parseJSON(callback);
 $("#resulttable tbody").html("");
 $.each(obj, function (k, v) {
     resultdata='<tr class="gradeX"> <td class="center">'+k+'</td>'+'<td class="center">'+v+'</td>'+'</tr>'
   $("#resulttable tbody").append(resultdata);
   });
  }
  });
});
})
</script>
{% endblock %}
