{% extends "base.html" %}
{% block title %}cmdb{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css" />
<link rel="stylesheet" href="/static/js/layer/skin/default/layer.css" type="text/css" />
<link rel="stylesheet" href="/static/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="/static/js/calendar/bootstrap_calendar.css" type="text/css" cache="false" />
<link rel="stylesheet" href="/static/js/datatables/datatables.css" type="text/css" cache="false">
<link rel="stylesheet" href="/static/css/font.css" type="text/css" cache="false" />
{% endblock %}
{% block menusection %}
<section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li> <a href="/"> <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i> <span>资产概览</span> </a> </li>
                  <li class="active"> <a href="#layout" class="active"> <i class="fa fa-columns icon"> <b class="bg-warning"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>salt管理</span> </a>
                    <ul class="nav lt">
                      <li> <a href="/saltadmin/"> <i class="fa fa-angle-right"></i> <span>salt远程管理</span> </a> </li>
                      <li class="active"> <a href="/salthistory/" class="active"> <i class="fa fa-angle-right"></i> <span>salt命令历史</span> </a> </li>
                      <li > <a href="/saltconfigview/" > <i class="fa fa-angle-right"></i> <span>salt配置概览</span> </a> </li>
                    </ul>
                  </li>
                    <li > <a href="#codepublish" > <i class="fa fa-flask icon"> <b class="bg-success"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>代码发布</span> </a>
                    <ul class="nav lt">
                    <li > <a href="buttons.html" > <i class="fa fa-angle-right"></i> <span>提交更新</span> </a> </li>
                    <li > <a href="icons.html" > <b class="badge bg-info pull-right">369</b> <i class="fa fa-angle-right"></i> <span>所有更新</span> </a> </li>
                    <li > <a href="widgets.html" > <b class="badge pull-right">8</b> <i class="fa fa-angle-right"></i> <span>版本列表</span> </a> </li>
                    <li > <a href="components.html" > <i class="fa fa-angle-right"></i> <span>回滚记录</span> </a> </li>
                    <li > <a href="list.html" > <i class="fa fa-angle-right"></i> <span>审核发布</span> </a> </li>
                    </ul>
                    </li>
                                      <li > <a href="mail.html" > <b class="badge bg-danger pull-right">3</b> <i class="fa fa-envelope-o icon"> <b class="bg-primary dker"></b> </i> <span>Message</span> </a> </li>
                                      <li > <a href="notebook.html" > <i class="fa fa-pencil icon"> <b class="bg-info"></b> </i> <span>Notes</span> </a> </li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
{% endblock %}
{% block content %}
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="active">salt 命令历史</li>
            </ul>
            <section class="panel panel-default">
              <div class="table-responsive">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <th>start time</th>
                      <th>end time</th>
                      <th>submit</th>
                    </tr>
                  </thead>
                          <tbody>
                                <tr>
                                <td><input class="layui-input" placeholder="开始时间" id="LAY_demorange_s"></td>
                                <td><input class="layui-input"  placeholder="结束时间" id="LAY_demorange_e"></td>
                                <td><button class="layui-btn layui-btn-normal" type="button" name="setimesubmit" id="timesubmit">submit</button></td>
                                </tr>
                          </tbody>
                </table>
              </div>
            </section>  
            <section class="panel panel-default">
            <header class="panel-heading">查询结果<i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" ></i> </header>
              <div class="table-responsive">
                <table class="table table-striped m-b-none" id="resulttable">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>执行时间</th>
                      <th>用户名</th>
                      <th>minion</th>
                      <th>minion类型</th>
                      <th>模块</th>
                      <th>参数</th>
                    </tr>
                  </thead>
                          <tbody>
                                {% for item in cmddicts %}
                                <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.createtime | date:"Y-m-d H:i:s"}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.minions}}</td>
                                <td>{{item.miniontype}}</td>
                                <td>{{item.module}}</td>
                                <td>{{item.arg}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                    <th>end</th>
                                </tr>
                            </tfoot>
                </table>
              </div>
            </section>
              </section>
              <a href="#" class="btn btn-default btn-sm m-b"><i class="fa fa-plus icon-muted"></i> more</a> </div>
          </section>
        </section>
{% endblock %}
{% block scripts %}
<script src="/static/js/app.v2.js"></script> 
<script src="/static/layui/layui.js"></script> 
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/datatables/jquery.dataTables.min.js" cache="false"></script>
<script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js" cache="false"></script> 
<script src="/static/js/charts/sparkline/jquery.sparkline.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.min.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.tooltip.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.resize.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.grow.js" cache="false"></script> 
<script src="/static/js/charts/flot/demo.js" cache="false"></script>
<script src="/static/js/calendar/bootstrap_calendar.js" cache="false"></script> 
<script src="/static/js/calendar/demo.js" cache="false"></script> 
<script src="/static/js/sortable/jquery.sortable.js" cache="false"></script>
<script>
$(document).ready(function () {
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  var start = {
    min: '2000-06-16 23:59:59'
    ,max: '2099-06-16 23:59:59'
    ,format: 'YYYY-MM-DD hh:mm:ss'
    ,istoday: false
    ,festival: true
    ,istime: true
    ,choose: function(datas){
      end.min = datas; //开始日选好后，重置结束日的最小日期
      end.start = datas //将结束日的初始值设定为开始日
    }
  };
  
  var end = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,format: 'YYYY-MM-DD hh:mm:ss'
    ,istoday: false
    ,festival: true
    ,istime: true
    ,choose: function(datas){
      start.max = datas; //结束日选好后，重置开始日的最大日期
    }
  };
  
  document.getElementById('LAY_demorange_s').onclick = function(){
    start.elem = this;
    laydate(start);
  }
  document.getElementById('LAY_demorange_e').onclick = function(){
    end.elem = this
    laydate(end);
  }
  
});
$('#timesubmit').click(function (){
var st=$('#LAY_demorange_s').val();
var et=$('#LAY_demorange_e').val();
if (st.length != 0 && et.length != 0)
{
var index = layer.load(3);
$.ajax({
 url:'/historybytime/',
 data:{'st':st,'et':et},
 type:'POST',
 success:function(callback){
 layer.close(index); 
 obj=jQuery.parseJSON(callback);
 $("#resulttable tbody").html("");
 for ( var p in obj ){
     resultdata='<tr> <td>'+obj[p].id+'</td><td>'+obj[p].createtime.substring(0,10)+' '+obj[p].createtime.substring(11,19)+'</td><td>'+obj[p].username+'</td><td>'+obj[p].minions+'</td><td>'+obj[p].miniontype+'</td><td>'+obj[p].module+'</td><td>'+obj[p].arg+'</td></tr>'
   $("#resulttable tbody").append(resultdata);
    }
$('#resulttable').dataTable({"sPaginationType": "full_numbers","sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>"});
  }
  });
}
else
{
alert("开始时间和结束时间不能为空")
}
});
})
</script>
{% endblock %}
