{% extends "base.html" %}
{% block title %}cmdb{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="/static/js/calendar/bootstrap_calendar.css" type="text/css" cache="false" />
<link rel="stylesheet" href="/static/js/datatables/datatables.css" type="text/css" cache="false">
<link rel="stylesheet" href="/static/css/font.css" type="text/css" cache="false" />
{% endblock %}
{% block menusection %}
<section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li class="active"> <a href="/" class="active"> <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i> <span>主机信息实时概览</span> </a> </li>
                  <li > <a href="notebook.html" > <i class="fa fa-exchange icon"> <b class="bg-warning"></b> </i> <span>NetWork</span> </a> </li>
                  <li > <a href="notebook.html" > <i class="fa fa-hdd-o icon"> <b class="bg-success"></b> </i> <span>Disks</span> </a> </li>
                  <li > <a href="notebook.html" > <i class="fa fa-bars icon"> <b class="bg-info"></b> </i> <span>Processes</span> </a> </li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
{% endblock %}
{% block content %}
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="active">资产概览</li>
            </ul>
            <section class="panel panel-default">
              <div class="row m-l-none m-r-none bg-light lter">
                <div class="col-sm-6 col-md-3 padder-v b-r b-light"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-info"></i> <i class="fa fa-male fa-stack-1x text-white"></i> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong>0</strong></span> <small class="text-muted text-uc">根分区利用率</small> </a> </div>
                <div class="col-sm-6 col-md-3 padder-v b-r b-light lt"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-warning"></i> <i class="fa fa-bug fa-stack-1x text-white"></i> <span class="easypiechart pos-abt" data-percent="60" data-line-width="4" data-track-Color="#fff" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="2000" data-target="#bugs" data-update="3000"></span> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong id="bugs">468</strong></span> <small class="text-muted text-uc">Bugs intruded</small> </a> </div>
                <div class="col-sm-6 col-md-3 padder-v b-r b-light"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-danger"></i> <i class="fa fa-fire-extinguisher fa-stack-1x text-white"></i> <span class="easypiechart pos-abt" data-percent="70" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong id="firers">359</strong></span> <small class="text-muted text-uc">Extinguishers ready</small> </a> </div>
                <div class="col-sm-6 col-md-3 padder-v b-r b-light lt"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x icon-muted"></i> <i class="fa fa-clock-o fa-stack-1x text-white"></i> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong>31:50</strong></span> <small class="text-muted text-uc">Left to exit</small> </a> </div>
              </div>
            </section>
                <table class="layui-table"  lay-skin="line">
                    <colgroup>
                      <col width="300">
                      <col width="200">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>CPU</th>
                        <th></th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td>Load average</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>User</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>System</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Idle</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>I/O wait</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Cores</td>
                        <td>2016-11-29</td>
                      </tr>
                    </tbody>
                </table>
                <table class="layui-table"  lay-skin="line">
                    <colgroup>
                      <col width="300">
                      <col width="200">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Memory</th>
                        <th></th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td>Total</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Available</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Used (excl.cache&buffers)</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Used (incl.cache&buffers)</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Free</td>
                        <td>2016-11-29</td>
                      </tr>
                    </tbody>
                </table>
                <table class="layui-table"  lay-skin="line">
                    <colgroup>
                      <col width="300">
                      <col width="200">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Network</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td>Interface</td>
                        <td>IP</td>
                        <td>RX/s</td>
                        <td>TX/s</td>
                      </tr>
                      <tr>
                        <td>Available</td>
                        <td>Available</td>
                        <td>Available</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Used (excl.cache&buffers)</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Used (incl.cache&buffers)</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>2016-11-29</td>
                      </tr>
                    </tbody>
                </table>
                <table class="layui-table"  lay-skin="line">
                    <colgroup>
                      <col width="300">
                      <col width="200">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Disks</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td>Device</td>
                        <td>Mounted</td>
                        <td>Total</td>
                        <td>Used</td>
                        <td>Free</td>
                      </tr>
                      <tr>
                        <td>Available</td>
                        <td>Available</td>
                        <td>Available</td>
                        <td>Available</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Used (excl.cache&buffers)</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>Available</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Used (incl.cache&buffers)</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>Available</td>
                        <td>Used (excl.cache&buffers)</td>
                        <td>2016-11-29</td>
                      </tr>
                    </tbody>
                </table>
                <table class="layui-table"  lay-skin="line">
                    <colgroup>
                      <col width="300">
                      <col width="200">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Swap</th>
                        <th></th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td>Total</td>
                        <td>xxx</td>
                      </tr>
                      <tr>
                        <td>User</td>
                        <td>Available</td>
                      <tr>
                        <td>Free</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Swapped in</td>
                        <td>2016-11-29</td>
                      </tr>
                      <tr>
                        <td>Swapped out</td>
                        <td>2016-11-29</td>
                      </tr>
                    </tbody>
                </table>
                <table class="layui-table"  lay-skin="line">
                    <colgroup>
                      <col width="300">
                      <col width="200">
                      <col width="200">
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Users</th>
                        <th></th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr>
                        <td>User</td>
                        <td>session started</td>
                        <td>Host</td>
                      </tr>
                      <tr>
                        <td>session started</td>
                        <td>session started</td>
                        <td>Available</td>
                      <tr>
                        <td>Host</td>
                        <td>Host</td>
                        <td>2016-11-29</td>
                      </tr
                    </tbody>
                </table>
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>
{% endblock %}
{% block scripts %}
<script src="/static/js/app.v2.js"></script> 
<script src="/static/layui/layui.js"></script>
<script src="/static/js/datatables/jquery.dataTables.min.js" cache="false"></script>
<script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js" cache="false"></script> 
<script src="/static/js/charts/sparkline/jquery.sparkline.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.min.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.tooltip.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.resize.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.grow.js" cache="false"></script> 
<script src="/static/js/charts/flot/demo.js" cache="false"></script>
<script src="/static/js/calendar/bootstrap_calendar.js" cache="false"></script> 
<script src="/static/js/calendar/demo.js" cache="false"></script> 
<script src="/static/js/sortable/jquery.sortable.js" cache="false"></script>
{% endblock %}
