{% extends "base.html" %}
{% block title %}cmdb{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="/static/js/calendar/bootstrap_calendar.css" type="text/css" cache="false" />
<link rel="stylesheet" href="/static/js/datatables/datatables.css" type="text/css" cache="false">
<link rel="stylesheet" href="/static/css/font.css" type="text/css" cache="false" />
{% endblock %}
{% block menusection %}
<section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li class="active"> <a href="/" class="active"> <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i> <span>资产概览</span> </a> </li>
                  <li > <a href="#layout" > <i class="fa fa-columns icon"> <b class="bg-warning"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>salt管理</span> </a>
                    <ul class="nav lt">
                      <li > <a href="/saltadmin/" > <i class="fa fa-angle-right"></i> <span>salt远程管理</span> </a> </li>
                      <li > <a href="/salthistory/" > <i class="fa fa-angle-right"></i> <span>salt命令历史</span> </a> </li>
                      <li > <a href="/saltconfigview/" > <i class="fa fa-angle-right"></i> <span>salt配置概览</span> </a> </li>
                    </ul>
                  </li>
                  <li > <a href="#codepublish" > <i class="fa fa-flask icon"> <b class="bg-success"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>代码发布</span> </a>
                    <ul class="nav lt">
                      <li > <a href="/codepublish/" > <i class="fa fa-angle-right"></i> <span>提交更新</span> </a> </li>
                      <li > <a href="/updatecount/" > <b class="badge bg-info pull-right">{{ updatenum }}</b> <i class="fa fa-angle-right"></i> <span>所有更新</span> </a> </li>
                      <li > <a href="widgets.html" > <b class="badge pull-right">8</b> <i class="fa fa-angle-right"></i> <span>版本列表</span> </a> </li>
                      <li > <a href="components.html" > <i class="fa fa-angle-right"></i> <span>回滚记录</span> </a> </li>
                      <li > <a href="list.html" > <i class="fa fa-angle-right"></i> <span>审核发布</span> </a> </li>
                    </ul>
                  </li>
                  <li > <a href="mail.html" > <b class="badge bg-danger pull-right">3</b> <i class="fa fa-envelope-o icon"> <b class="bg-primary dker"></b> </i> <span>Message</span> </a> </li>
                  <li > <a href="notebook.html" > <i class="fa fa-pencil icon"> <b class="bg-info"></b> </i> <span>Notes</span> </a> </li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
{% endblock %}
{% block content %}
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="active">资产概览</li>
            </ul>
            <div class="m-b-md">
              <h3 class="m-b-none">Workspace</h3>
              <small>Welcome back, cmdb</small> </div>
            <section class="panel panel-default">
              <div class="row m-l-none m-r-none bg-light lter">
                <div class="col-sm-6 col-md-3 padder-v b-r b-light"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-info"></i> <i class="fa fa-male fa-stack-1x text-white"></i> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong>{{hostnum}}</strong></span> <small class="text-muted text-uc">Hosts</small> </a> </div>
                <div class="col-sm-6 col-md-3 padder-v b-r b-light lt"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-warning"></i> <i class="fa fa-bug fa-stack-1x text-white"></i> <span class="easypiechart pos-abt" data-percent="60" data-line-width="4" data-track-Color="#fff" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="2000" data-target="#bugs" data-update="3000"></span> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong id="bugs">468</strong></span> <small class="text-muted text-uc">Bugs intruded</small> </a> </div>
                <div class="col-sm-6 col-md-3 padder-v b-r b-light"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x text-danger"></i> <i class="fa fa-fire-extinguisher fa-stack-1x text-white"></i> <span class="easypiechart pos-abt" data-percent="70" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong id="firers">359</strong></span> <small class="text-muted text-uc">Extinguishers ready</small> </a> </div>
                <div class="col-sm-6 col-md-3 padder-v b-r b-light lt"> <span class="fa-stack fa-2x pull-left m-r-sm"> <i class="fa fa-circle fa-stack-2x icon-muted"></i> <i class="fa fa-clock-o fa-stack-1x text-white"></i> </span> <a class="clear" href="#"> <span class="h3 block m-t-xs"><strong>31:50</strong></span> <small class="text-muted text-uc">Left to exit</small> </a> </div>
              </div>
            </section>
            <section class="panel panel-default">
              <header class="panel-heading"> 服务器详情 <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> </header>
              <div class="table-responsive">
                <table class="table table-striped m-b-none" id="datatables">
                  <thead>
                    <tr>
                      <th >id</th>
                      <th>ip</th>
                      <th>minionid</th>
                      <th>系统</th>
                      <th>项目</th>
                      <th>位置</th>
                      <th>服务</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for host in hostlist %}
                    <tr>
                    <td>{{host.id}}</td>
                    <td>{{host.ip}}</td>
                    <td>{{host.minionid}}</td>
                    <td>{{host.system}}</td>
                    <td>{{host.project}}</td>
                    <td>{{host.location}}</td>
                    <td>{{host.services}}</td>
                    <td>{{host.status}}</td>
                    <td>
                                <a href="/hostinfoview/?ip={{host.ip}}"><i class="layui-icon">&#xe629;</i></a>
                                <i class="layui-icon" style='cursor:pointer;'>&#xe642;</i>
                                <i class="layui-icon" style='cursor:pointer;' onclick="deletehost(this,{{host.id}})">&#xe640;</i>
                    </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </section>
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>
{% endblock %}
{% block scripts %}
<script>
function deletehost(host,id) {
        if(confirm("Are you sure to delete the host?")){
        $.ajax({
                url:'/deletehost/',
                type:'POST',
                async:true,
                data:{'id':id},
                timeout:5000,
                success:function(result){
                   console.log(result);
                   location.reload();
                }

        })
        }
        else{
                console.log("cancle")
        
        }

}
</script>
<script src="/static/js/app.v2.js"></script> 
<script src="/static/layui/layui.js"></script>
<script src="/static/js/datatables/jquery.dataTables.min.js" cache="false"></script>
<script src="/static/js/charts/easypiechart/jquery.easy-pie-chart.js" cache="false"></script> 
<script src="/static/js/charts/sparkline/jquery.sparkline.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.min.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.tooltip.min.js" cache="false"></script>
<script src="/static/js/charts/flot/jquery.flot.resize.js" cache="false"></script> 
<script src="/static/js/charts/flot/jquery.flot.grow.js" cache="false"></script> 
<script src="/static/js/charts/flot/demo.js" cache="false"></script>
<script src="/static/js/calendar/bootstrap_calendar.js" cache="false"></script> 
<script src="/static/js/calendar/demo.js" cache="false"></script> 
<script src="/static/js/sortable/jquery.sortable.js" cache="false"></script>
{% endblock %}
