{% extends "base.html" %}
{% block title %}cmdb{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css" />
<link rel="stylesheet" href="/static/js/layer/skin/default/layer.css" type="text/css" />
<link rel="stylesheet" href="/static/css/font.css" type="text/css" cache="false" />
<link rel="stylesheet" href="/static/js/datatables/datatables.css" type="text/css" cache="false">
<link rel="stylesheet" href="/static/js/fuelux/fuelux.css" type="text/css" cache="false">
{% endblock %}
{% block menusection %}
<section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333"> <!-- nav -->
              <nav class="nav-primary hidden-xs">
                <ul class="nav">
                  <li> <a href="/"> <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i> <span>资产概览</span> </a> </li>
                  <li > <a href="#layout" > <i class="fa fa-columns icon"> <b class="bg-warning"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>salt管理</span> </a>
                    <ul class="nav lt">
                      <li > <a href="/saltadmin/" > <i class="fa fa-angle-right"></i> <span>salt远程管理</span> </a> </li>
                      <li > <a href="/salthistory/" > <i class="fa fa-angle-right"></i> <span>salt命令历史</span> </a> </li>
                      <li > <a href="/saltconfigview/" > <i class="fa fa-angle-right"></i> <span>salt配置概览</span> </a> </li>
                    </ul>
                  </li>
                  <li class="active"> <a href="#codepublish" class="active"> <i class="fa fa-flask icon"> <b class="bg-success"></b> </i> <span class="pull-right"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> </span> <span>代码发布</span> </a>
                    <ul class="nav lt">
                      <li > <a href="/codepublish/" > <i class="fa fa-angle-right"></i> <span>提交更新</span> </a> </li>
                      <li class="active"> <a href="/updatecount/" class="active"> <b class="badge bg-info pull-right">{{ updatenum }}</b> <i class="fa fa-angle-right"></i> <span>所有更新</span> </a> </li>
                      <li > <a href="widgets.html" > <b class="badge pull-right">8</b> <i class="fa fa-angle-right"></i> <span>版本列表</span> </a> </li>
                      <li > <a href="components.html" > <i class="fa fa-angle-right"></i> <span>回滚记录</span> </a> </li>
                      <li > <a href="list.html" > <i class="fa fa-angle-right"></i> <span>审核发布</span> </a> </li>
                    </ul>
                  </li>
                  <li > <a href="mail.html" > <b class="badge bg-danger pull-right">3</b> <i class="fa fa-envelope-o icon"> <b class="bg-primary dker"></b> </i> <span>Message</span> </a> </li>
                  <li > <a href="notebook.html" > <i class="fa fa-pencil icon"> <b class="bg-info"></b> </i> <span>Notes</span> </a> </li>
                </ul>
              </nav>
              <!-- / nav --> </div>
          </section>
{% endblock %}
{% block content %}
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="active">所有更新</li>
            </ul>
             <table class="layui-table" lay-skin="line">
               <thead>
                 <tr>
                   <th>申请人</th>
                   <th>svn/git信息</th>
                   <th>简单描述</th>
                   <th>审核员</th>
                   <th>状态</th>
                   <th>创建时间</th>
                 </tr> 
               </thead>
               <tbody>
                {% for item in result_list%}
                 <tr>
                   <td>{{ item.commituser }}</td>
                   <td>{{ item.svninfo }}</td>
                   <td>{{ item.describtion }}</td>
                   <td>{{ item.auditor }}</td>
                   <td>{{ item.status }}</td>
                   <td>{{ item.Createtime|date:"Y-m-d H:i:s" }}</td>
                 </tr>
                 {% endfor %}
               </tbody>
             </table>
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>
{% endblock %}
{% block scripts %}
<script src="/static/js/app.v2.js"></script> 
<script src="/static/layui/layui.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script>
$("#submitbutton").click(
    function () { 
        if ($(this).html()=="Finish")
    {
        var index = layer.load(3);
        var svninfo=$('#svnaddr').val();
        var explain=$("#explain").val();
        var people=$('#people option:selected').val();
        $.ajax({
          url:'/putcodecommit/',
          data:{'svninfo':svninfo,'explain':explain,'people':people},
          type:'POST',
          success:function(callback){
              layer.close(index); 
              obj=jQuery.parseJSON(callback);
              if ( obj.status == 1 )
          {
              layer.msg("代码更新提交成功!",{icon: 6,time:2000})
          }else{
              layer.msg("代码更新提交提交失败!",{icon: 5,time:2000})            
          }
  }
  });
        console.log("可以提交")
  }
})
</script>
<script src="/static/js/datatables/jquery.dataTables.min.js" cache="false"></script>
{% endblock %}
